version: '3.4'

services:

  libreria-digital-api:
    image: libreria-digital-api
    container_name: libreria-digital-api 
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8980:8080"
    networks:
      - libreria-digital-net
    entrypoint: ["/bin/sh", "-c", "sleep 300 && dotnet LibreriaDigital.WebApi.dll"]
    depends_on:
      - libreria-digital-sqlserver

  libreria-digital-sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: libreria-digital-sqlserver 
    ports:
      - "14330:1433"
    environment:
      - SA_PASSWORD=myPass123
      - ACCEPT_EULA=Y
    networks:
      - libreria-digital-net

networks:
  libreria-digital-net:
    driver: bridge